body {
	font-family: "Josephine Slab", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	background-color: #efefef;
}
a {
	color: #0e24ed;
}
.weather-app {
	background: white;
	max-width: 600px;
	margin: 30px auto;
	padding: 30px;
	box-shadow: 0px -1px 17px -1px rgba(0, 0, 0, 0.26);
}

header {
	border-bottom: 1px solid #efefef;
	padding: 0 0 30px 0;
}
.search-form-input {
	background-color: #efefef;
	border: none;
	border-radius: 6px;
	width: 80%;
	padding: 15px 20px;
	font-size: 16px;
}
.search-form-button {
	background: #0e24ed;
	padding: 15px 25px;
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 16px;
	margin-left: 5px;
}
main {
	padding: 30px 0;
}
.weather-app-sentence {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 0;
}
.weather-app-city {
	margin: 0;
	font-weight: 700;
	font-size: 42px;
}

.weather-app-details {
	font-size: 16px;
	line-height: 25px;
}

#current-humidity,
#current-windspeed {
	color: #f65282;
	font-weight: bold;
}
.weather-app-data {
	display: flex;
	justify-content: space-between;
}

.weather-app-temperature-container {
	display: flex;
	margin-top: 0px;
}

.weather-app-icon {
	font-size: 44px;
	margin-top: 22px;
}
.weather-app-temperature {
	font-size: 88px;
	font-weight: bold;
	margin-left: 10px;
}
.weather-app-unit {
	margin-top: 16px;
	font-size: 28px;
}

footer {
	border-top: 1px solid #efefef;
	padding: 30px 0 0 0;
	text-align: center;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
}
